
body{
    align-items: center;
}

form{
    margin-top: 3rem;
    width: 90%;
    height: 90%;
}
.dis{
    margin-left: 4rem;
    align-content:center;
}
input{
    width: 90%;
    height: 2.5rem;
    color: white;
    background-color: rgb(6, 21, 21);
}
button{
    margin-top: 4rem;
    width: 90%;
    height: 2.5rem;
    color: white;
    background-color: black;
}
